Perishable goods.json
[{"id":"6f21edc9.69d274","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"19a64e37.16d7f2","type":"http request","z":"6f21edc9.69d274","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":170,"y":180,"wires":[["9889d586.8b7808"]]},{"id":"9889d586.8b7808","type":"function","z":"6f21edc9.69d274","name":"Pre Prediction","func":"var week = global.get('week')\nvar center_id = global.get('center_id')\nvar meal_id = global.get('meal_id')\nvar checkout_price = global.get('checkout_price')\nvar base_price = global.get('base_price')\nvar emailer_for_promotion = global.get('emailer_for_promotion')\nvar homepage_featured = global.get('homepage_featured')\nvar token=msg.payload.access_token\nvar instance_id=\"e26019a6-f58c-4ac1-b576-7f0b670a60ab\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\nmsg.payload={\"input_data\": [{\"fields\": [\"week\", \"center_id\", \"meal_id\", \"checkout_price\", \"base_price\", \"emailer_for_promotion\", \"homepage_featured\"], \"values\": [[week,center_id,meal_id,checkout_price,base_price,emailer_for_promotion,homepage_featured]]}]}\nreturn msg;\n\n\n\n","outputs":1,"noerr":0,"x":340,"y":180,"wires":[["8a519e17.72388"]]},{"id":"8a519e17.72388","type":"http request","z":"6f21edc9.69d274","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v4/deployments/625bdfca-104c-44fb-9436-947f7cbcd907/predictions","tls":"","persist":false,"proxy":"","authType":"","x":530,"y":180,"wires":[["a3fd8362.a785f"]]},{"id":"a3fd8362.a785f","type":"function","z":"6f21edc9.69d274","name":"","func":"msg.payload=msg.payload.predictions[0].values[0][0]\nglobal.set(\"output\",msg.payload)\nreturn msg;\n","outputs":1,"noerr":0,"x":690,"y":180,"wires":[["68946f3c.6d76a","2b11f720.8cb448"]]},{"id":"c6bbdfde.68f0c","type":"ui_form","z":"6f21edc9.69d274","name":"","label":"","group":"462ad830.8b89c8","order":2,"width":0,"height":0,"options":[{"label":"week","value":"W","type":"number","required":true,"rows":null},{"label":"center_id","value":"CI","type":"number","required":true,"rows":null},{"label":"meal_id","value":"MI","type":"number","required":true,"rows":null},{"label":"checkout_price","value":"COP","type":"number","required":true,"rows":null},{"label":"base_price","value":"BP","type":"number","required":true,"rows":null},{"label":"emailer_for_promotion","value":"EFP","type":"number","required":true,"rows":null},{"label":"homepage_featured","value":"HF","type":"number","required":true,"rows":null}],"formValue":{"W":"","CI":"","MI":"","COP":"","BP":"","EFP":"","HF":""},"payload":"","submit":"Submit","cancel":"Reset","topic":"","x":50,"y":380,"wires":[["a4410982.6a8e48"]]},{"id":"a4410982.6a8e48","type":"function","z":"6f21edc9.69d274","name":"","func":"global.set(\"week\",msg.payload.W)\nglobal.set(\"center_id\",msg.payload.CI)\nglobal.set(\"meal_id\",msg.payload.MI)\nglobal.set(\"checkout_price\",msg.payload.COP)\nglobal.set(\"base_price\",msg.payload.BP)\nglobal.set(\"emailer_for_promotion\",msg.payload.EFP)\nglobal.set(\"homepage_featured\",msg.payload.HF)\nvar apikey=\"VQMcBuud0FI_kgnc0_u8nzd2wMsbXcp0yXHfBty5VXdd\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;","outputs":1,"noerr":0,"x":70,"y":300,"wires":[["19a64e37.16d7f2","d21b3772.d46748","83dfd458.981fa8","a495f5ea.fde608","9f5746dc.9bbb78","550e5612.fc9398","adf0aba8.33a808","d2a07054.eb42f","48700c6e.f95ff4","39213948.a8eec6","55df42e5.d5026c"]]},{"id":"8ae7f5d0.af3db8","type":"function","z":"6f21edc9.69d274","name":"Pre Prediction + 4","func":"var week = global.get('week')\nvar center_id = global.get('center_id')\nvar meal_id = global.get('meal_id')\nvar checkout_price = global.get('checkout_price')\nvar base_price = global.get('base_price')\nvar emailer_for_promotion = global.get('emailer_for_promotion')\nvar homepage_featured = global.get('homepage_featured')\nvar token=msg.payload.access_token\nvar instance_id=\"e26019a6-f58c-4ac1-b576-7f0b670a60ab\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\nmsg.payload={\"input_data\": [{\"fields\": [\"week\", \"center_id\", \"meal_id\", \"checkout_price\", \"base_price\", \"emailer_for_promotion\", \"homepage_featured\"], \"values\": [[(week+4),center_id,meal_id,checkout_price,base_price,emailer_for_promotion,homepage_featured]]}]}\nreturn msg;\n","outputs":1,"noerr":0,"x":350,"y":260,"wires":[["270c2814.2e7a38"]]},{"id":"270c2814.2e7a38","type":"http request","z":"6f21edc9.69d274","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v4/deployments/625bdfca-104c-44fb-9436-947f7cbcd907/predictions","tls":"","persist":false,"proxy":"","authType":"","x":530,"y":260,"wires":[["405fcaf1.e6e454"]]},{"id":"aa26500f.f1901","type":"function","z":"6f21edc9.69d274","name":"Pre Prediction + 1","func":"var week = global.get('week')\nvar center_id = global.get('center_id')\nvar meal_id = global.get('meal_id')\nvar checkout_price = global.get('checkout_price')\nvar base_price = global.get('base_price')\nvar emailer_for_promotion = global.get('emailer_for_promotion')\nvar homepage_featured = global.get('homepage_featured')\nvar token=msg.payload.access_token\nvar instance_id=\"e26019a6-f58c-4ac1-b576-7f0b670a60ab\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\nmsg.payload={\"input_data\": [{\"fields\": [\"week\", \"center_id\", \"meal_id\", \"checkout_price\", \"base_price\", \"emailer_for_promotion\", \"homepage_featured\"], \"values\": [[(week+1),center_id,meal_id,checkout_price,base_price,emailer_for_promotion,homepage_featured]]}]}\nreturn msg;\n\n\n\n","outputs":1,"noerr":0,"x":350,"y":340,"wires":[["b74e8475.122718"]]},{"id":"b74e8475.122718","type":"http request","z":"6f21edc9.69d274","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v4/deployments/625bdfca-104c-44fb-9436-947f7cbcd907/predictions","tls":"","persist":false,"proxy":"","authType":"","x":530,"y":340,"wires":[["85619330.8d321"]]},{"id":"85619330.8d321","type":"function","z":"6f21edc9.69d274","name":"","func":"msg.payload=msg.payload.predictions[0].values[0][0]\nglobal.set(\"output\",msg.payload)\nreturn msg;\n","outputs":1,"noerr":0,"x":690,"y":340,"wires":[["1e869aba.e7c005","24077e23.fc0b12"]]},{"id":"fa0c9390.4d2f3","type":"function","z":"6f21edc9.69d274","name":"Pre Prediction + 2","func":"var week = global.get('week')\nvar center_id = global.get('center_id')\nvar meal_id = global.get('meal_id')\nvar checkout_price = global.get('checkout_price')\nvar base_price = global.get('base_price')\nvar emailer_for_promotion = global.get('emailer_for_promotion')\nvar homepage_featured = global.get('homepage_featured')\nvar token=msg.payload.access_token\nvar instance_id=\"e26019a6-f58c-4ac1-b576-7f0b670a60ab\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\nmsg.payload={\"input_data\": [{\"fields\": [\"week\", \"center_id\", \"meal_id\", \"checkout_price\", \"base_price\", \"emailer_for_promotion\", \"homepage_featured\"], \"values\": [[(week+2),center_id,meal_id,checkout_price,base_price,emailer_for_promotion,homepage_featured]]}]}\nreturn msg;\n\n\n\n","outputs":1,"noerr":0,"x":350,"y":420,"wires":[["c3307378.f7683"]]},{"id":"c3307378.f7683","type":"http request","z":"6f21edc9.69d274","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v4/deployments/625bdfca-104c-44fb-9436-947f7cbcd907/predictions","tls":"","persist":false,"proxy":"","authType":"","x":530,"y":419,"wires":[["3d3b3208.d2615e"]]},{"id":"3d3b3208.d2615e","type":"function","z":"6f21edc9.69d274","name":"","func":"msg.payload=msg.payload.predictions[0].values[0][0]\nglobal.set(\"output\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":420,"wires":[["25c8483f.6d9b88","c2a9bb87.0a7128"]]},{"id":"a07ec4bd.4b76b8","type":"function","z":"6f21edc9.69d274","name":"Pre Prediction + 3","func":"var week = global.get('week')\nvar center_id = global.get('center_id')\nvar meal_id = global.get('meal_id')\nvar checkout_price = global.get('checkout_price')\nvar base_price = global.get('base_price')\nvar emailer_for_promotion = global.get('emailer_for_promotion')\nvar homepage_featured = global.get('homepage_featured')\nvar token=msg.payload.access_token\nvar instance_id=\"e26019a6-f58c-4ac1-b576-7f0b670a60ab\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\nmsg.payload={\"input_data\": [{\"fields\": [\"week\", \"center_id\", \"meal_id\", \"checkout_price\", \"base_price\", \"emailer_for_promotion\", \"homepage_featured\"], \"values\": [[(week+3),center_id,meal_id,checkout_price,base_price,emailer_for_promotion,homepage_featured]]}]}\nreturn msg;\n\n\n\n","outputs":1,"noerr":0,"x":350,"y":500,"wires":[["49079ba9.3b3f84"]]},{"id":"49079ba9.3b3f84","type":"http request","z":"6f21edc9.69d274","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v4/deployments/625bdfca-104c-44fb-9436-947f7cbcd907/predictions","tls":"","persist":false,"proxy":"","authType":"","x":530,"y":500,"wires":[["71cbef31.f3bd2"]]},{"id":"71cbef31.f3bd2","type":"function","z":"6f21edc9.69d274","name":"","func":"msg.payload=msg.payload.predictions[0].values[0][0]\nglobal.set(\"output\",msg.payload)\nreturn msg;\n","outputs":1,"noerr":0,"x":690,"y":500,"wires":[["87985df.27923a","1e40afaa.03a88"]]},{"id":"405fcaf1.e6e454","type":"function","z":"6f21edc9.69d274","name":"","func":"msg.payload=msg.payload.predictions[0].values[0][0]\nglobal.set(\"output\",msg.payload)\nreturn msg;\n","outputs":1,"noerr":0,"x":690,"y":260,"wires":[["6679dee1.1b853","28da2ea2.9deda2"]]},{"id":"167ae450.c737bc","type":"function","z":"6f21edc9.69d274","name":"Pre Prediction + 5 ","func":"var week = global.get('week')\nvar center_id = global.get('center_id')\nvar meal_id = global.get('meal_id')\nvar checkout_price = global.get('checkout_price')\nvar base_price = global.get('base_price')\nvar emailer_for_promotion = global.get('emailer_for_promotion')\nvar homepage_featured = global.get('homepage_featured')\nvar token=msg.payload.access_token\nvar instance_id=\"e26019a6-f58c-4ac1-b576-7f0b670a60ab\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\nmsg.payload={\"input_data\": [{\"fields\": [\"week\", \"center_id\", \"meal_id\", \"checkout_price\", \"base_price\", \"emailer_for_promotion\", \"homepage_featured\"], \"values\": [[(week+5),center_id,meal_id,checkout_price,base_price,emailer_for_promotion,homepage_featured]]}]}\nreturn msg;\n\n\n\n","outputs":1,"noerr":0,"x":350,"y":580,"wires":[["5973c81f.542798"]]},{"id":"5973c81f.542798","type":"http request","z":"6f21edc9.69d274","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v4/deployments/625bdfca-104c-44fb-9436-947f7cbcd907/predictions","tls":"","persist":false,"proxy":"","authType":"","x":530,"y":580,"wires":[["2b7e96c9.c3bb7a"]]},{"id":"2b7e96c9.c3bb7a","type":"function","z":"6f21edc9.69d274","name":"","func":"msg.payload=msg.payload.predictions[0].values[0][0]\nglobal.set(\"output\",msg.payload)\nreturn msg;\n","outputs":1,"noerr":0,"x":690,"y":580,"wires":[["4a52080a.996c18","b51855af.6b6c48"]]},{"id":"e84f5334.9c1a8","type":"function","z":"6f21edc9.69d274","name":"Pre Prediction + 6","func":"var week = global.get('week')\nvar center_id = global.get('center_id')\nvar meal_id = global.get('meal_id')\nvar checkout_price = global.get('checkout_price')\nvar base_price = global.get('base_price')\nvar emailer_for_promotion = global.get('emailer_for_promotion')\nvar homepage_featured = global.get('homepage_featured')\nvar token=msg.payload.access_token\nvar instance_id=\"e26019a6-f58c-4ac1-b576-7f0b670a60ab\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\nmsg.payload={\"input_data\": [{\"fields\": [\"week\", \"center_id\", \"meal_id\", \"checkout_price\", \"base_price\", \"emailer_for_promotion\", \"homepage_featured\"], \"values\": [[(week+6),center_id,meal_id,checkout_price,base_price,emailer_for_promotion,homepage_featured]]}]}\nreturn msg;\n\n\n\n","outputs":1,"noerr":0,"x":350,"y":660,"wires":[["f88ff077.84186"]]},{"id":"f88ff077.84186","type":"http request","z":"6f21edc9.69d274","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v4/deployments/625bdfca-104c-44fb-9436-947f7cbcd907/predictions","tls":"","persist":false,"proxy":"","authType":"","x":530,"y":660,"wires":[["4b1832b8.661b1c"]]},{"id":"4b1832b8.661b1c","type":"function","z":"6f21edc9.69d274","name":"","func":"msg.payload=msg.payload.predictions[0].values[0][0]\nglobal.set(\"output\",msg.payload)\nreturn msg;\n","outputs":1,"noerr":0,"x":690,"y":660,"wires":[["c104be7c.dc33e","d65a6344.b70af"]]},{"id":"ed3816bd.71e328","type":"function","z":"6f21edc9.69d274","name":"Pre Prediction + 7","func":"var week = global.get('week')\nvar center_id = global.get('center_id')\nvar meal_id = global.get('meal_id')\nvar checkout_price = global.get('checkout_price')\nvar base_price = global.get('base_price')\nvar emailer_for_promotion = global.get('emailer_for_promotion')\nvar homepage_featured = global.get('homepage_featured')\nvar token=msg.payload.access_token\nvar instance_id=\"e26019a6-f58c-4ac1-b576-7f0b670a60ab\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\nmsg.payload={\"input_data\": [{\"fields\": [\"week\", \"center_id\", \"meal_id\", \"checkout_price\", \"base_price\", \"emailer_for_promotion\", \"homepage_featured\"], \"values\": [[(week+7),center_id,meal_id,checkout_price,base_price,emailer_for_promotion,homepage_featured]]}]}\nreturn msg;\n\n\n\n","outputs":1,"noerr":0,"x":350,"y":740,"wires":[["691ca99f.10a0c8"]]},{"id":"691ca99f.10a0c8","type":"http request","z":"6f21edc9.69d274","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v4/deployments/625bdfca-104c-44fb-9436-947f7cbcd907/predictions","tls":"","persist":false,"proxy":"","authType":"","x":530,"y":740,"wires":[["661271c5.07076"]]},{"id":"661271c5.07076","type":"function","z":"6f21edc9.69d274","name":"","func":"msg.payload=msg.payload.predictions[0].values[0][0]\nglobal.set(\"output\",msg.payload)\nreturn msg;\n","outputs":1,"noerr":0,"x":690,"y":740,"wires":[["a4c97841.ed41b8","525a5c8a.b6b9f4"]]},{"id":"4684b293.ce55ec","type":"function","z":"6f21edc9.69d274","name":"Pre Prediction + 8","func":"var week = global.get('week')\nvar center_id = global.get('center_id')\nvar meal_id = global.get('meal_id')\nvar checkout_price = global.get('checkout_price')\nvar base_price = global.get('base_price')\nvar emailer_for_promotion = global.get('emailer_for_promotion')\nvar homepage_featured = global.get('homepage_featured')\nvar token=msg.payload.access_token\nvar instance_id=\"e26019a6-f58c-4ac1-b576-7f0b670a60ab\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\nmsg.payload={\"input_data\": [{\"fields\": [\"week\", \"center_id\", \"meal_id\", \"checkout_price\", \"base_price\", \"emailer_for_promotion\", \"homepage_featured\"], \"values\": [[(week+8),center_id,meal_id,checkout_price,base_price,emailer_for_promotion,homepage_featured]]}]}\nreturn msg;\n\n\n\n","outputs":1,"noerr":0,"x":350,"y":820,"wires":[["e51ea78b.2bca58"]]},{"id":"e51ea78b.2bca58","type":"http request","z":"6f21edc9.69d274","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v4/deployments/625bdfca-104c-44fb-9436-947f7cbcd907/predictions","tls":"","persist":false,"proxy":"","authType":"","x":530,"y":820,"wires":[["c98372d4.68e9"]]},{"id":"c98372d4.68e9","type":"function","z":"6f21edc9.69d274","name":"","func":"msg.payload=msg.payload.predictions[0].values[0][0]\nglobal.set(\"output\",msg.payload)\nreturn msg;\n","outputs":1,"noerr":0,"x":690,"y":820,"wires":[["749d179c.d13188","1e76d5d2.ac9e1a"]]},{"id":"bb0f272f.6ab8e8","type":"function","z":"6f21edc9.69d274","name":"Pre Prediction + 9","func":"var week = global.get('week')\nvar center_id = global.get('center_id')\nvar meal_id = global.get('meal_id')\nvar checkout_price = global.get('checkout_price')\nvar base_price = global.get('base_price')\nvar emailer_for_promotion = global.get('emailer_for_promotion')\nvar homepage_featured = global.get('homepage_featured')\nvar token=msg.payload.access_token\nvar instance_id=\"e26019a6-f58c-4ac1-b576-7f0b670a60ab\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\nmsg.payload={\"input_data\": [{\"fields\": [\"week\", \"center_id\", \"meal_id\", \"checkout_price\", \"base_price\", \"emailer_for_promotion\", \"homepage_featured\"], \"values\": [[(week+9),center_id,meal_id,checkout_price,base_price,emailer_for_promotion,homepage_featured]]}]}\nreturn msg;\n\n\n\n","outputs":1,"noerr":0,"x":350,"y":900,"wires":[["2fa17ebb.2a82d2"]]},{"id":"2fa17ebb.2a82d2","type":"http request","z":"6f21edc9.69d274","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v4/deployments/625bdfca-104c-44fb-9436-947f7cbcd907/predictions","tls":"","persist":false,"proxy":"","authType":"","x":530,"y":900,"wires":[["ba91785c.c445a8"]]},{"id":"ba91785c.c445a8","type":"function","z":"6f21edc9.69d274","name":"","func":"msg.payload=msg.payload.predictions[0].values[0][0]\nglobal.set(\"output\",msg.payload)\nreturn msg;\n","outputs":1,"noerr":0,"x":690,"y":900,"wires":[["bc9d71ad.306fa","c2388a14.aed788"]]},{"id":"f2580ece.de2d2","type":"function","z":"6f21edc9.69d274","name":"Pre Prediction + 10","func":"var week = global.get('week')\nvar center_id = global.get('center_id')\nvar meal_id = global.get('meal_id')\nvar checkout_price = global.get('checkout_price')\nvar base_price = global.get('base_price')\nvar emailer_for_promotion = global.get('emailer_for_promotion')\nvar homepage_featured = global.get('homepage_featured')\nvar token=msg.payload.access_token\nvar instance_id=\"e26019a6-f58c-4ac1-b576-7f0b670a60ab\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\nmsg.payload={\"input_data\": [{\"fields\": [\"week\", \"center_id\", \"meal_id\", \"checkout_price\", \"base_price\", \"emailer_for_promotion\", \"homepage_featured\"], \"values\": [[(week+10),center_id,meal_id,checkout_price,base_price,emailer_for_promotion,homepage_featured]]}]}\nreturn msg;\n\n\n\n","outputs":1,"noerr":0,"x":350,"y":980,"wires":[["168108bd.7a33d7"]]},{"id":"168108bd.7a33d7","type":"http request","z":"6f21edc9.69d274","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v4/deployments/625bdfca-104c-44fb-9436-947f7cbcd907/predictions","tls":"","persist":false,"proxy":"","authType":"","x":530,"y":980,"wires":[["7dc94b32.a2b504"]]},{"id":"7dc94b32.a2b504","type":"function","z":"6f21edc9.69d274","name":"","func":"msg.payload=msg.payload.predictions[0].values[0][0]\nglobal.set(\"output\",msg.payload)\nreturn msg;\n","outputs":1,"noerr":0,"x":690,"y":980,"wires":[["adb0eda6.7ca2","831d7bd9.a73988"]]},{"id":"d21b3772.d46748","type":"http request","z":"6f21edc9.69d274","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":170,"y":260,"wires":[["8ae7f5d0.af3db8"]]},{"id":"83dfd458.981fa8","type":"http request","z":"6f21edc9.69d274","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":170,"y":340,"wires":[["aa26500f.f1901"]]},{"id":"a495f5ea.fde608","type":"http request","z":"6f21edc9.69d274","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":166,"y":423,"wires":[["fa0c9390.4d2f3"]]},{"id":"55df42e5.d5026c","type":"http request","z":"6f21edc9.69d274","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":170,"y":500,"wires":[["a07ec4bd.4b76b8"]]},{"id":"9f5746dc.9bbb78","type":"http request","z":"6f21edc9.69d274","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":170,"y":580,"wires":[["167ae450.c737bc"]]},{"id":"550e5612.fc9398","type":"http request","z":"6f21edc9.69d274","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":170,"y":660,"wires":[["e84f5334.9c1a8"]]},{"id":"adf0aba8.33a808","type":"http request","z":"6f21edc9.69d274","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":170,"y":740,"wires":[["ed3816bd.71e328"]]},{"id":"d2a07054.eb42f","type":"http request","z":"6f21edc9.69d274","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":170,"y":820,"wires":[["4684b293.ce55ec"]]},{"id":"48700c6e.f95ff4","type":"http request","z":"6f21edc9.69d274","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":170,"y":900,"wires":[["bb0f272f.6ab8e8"]]},{"id":"39213948.a8eec6","type":"http request","z":"6f21edc9.69d274","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":170,"y":980,"wires":[["f2580ece.de2d2"]]},{"id":"68946f3c.6d76a","type":"ui_text","z":"6f21edc9.69d274","group":"462ad830.8b89c8","order":1,"width":6,"height":2,"name":"","label":"Prediction for given week:","format":"{{msg.payload}}","layout":"col-center","x":1130,"y":160,"wires":[]},{"id":"2b11f720.8cb448","type":"debug","z":"6f21edc9.69d274","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1090,"y":200,"wires":[]},{"id":"1e869aba.e7c005","type":"ui_text","z":"6f21edc9.69d274","group":"4083c6d3.d14b78","order":1,"width":0,"height":0,"name":"","label":"Prediction for 1st week","format":"{{msg.payload}}","layout":"row-spread","x":1120,"y":320,"wires":[]},{"id":"24077e23.fc0b12","type":"debug","z":"6f21edc9.69d274","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1090,"y":360,"wires":[]},{"id":"25c8483f.6d9b88","type":"ui_text","z":"6f21edc9.69d274","group":"4083c6d3.d14b78","order":2,"width":0,"height":0,"name":"","label":"Prediction for 2nd week","format":"{{msg.payload}}","layout":"row-spread","x":1130,"y":400,"wires":[]},{"id":"c2a9bb87.0a7128","type":"debug","z":"6f21edc9.69d274","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1090,"y":440,"wires":[]},{"id":"87985df.27923a","type":"ui_text","z":"6f21edc9.69d274","group":"4083c6d3.d14b78","order":3,"width":0,"height":0,"name":"","label":"Prediction for 3rd week","format":"{{msg.payload}}","layout":"row-spread","x":1120,"y":480,"wires":[]},{"id":"1e40afaa.03a88","type":"debug","z":"6f21edc9.69d274","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1090,"y":520,"wires":[]},{"id":"6679dee1.1b853","type":"ui_text","z":"6f21edc9.69d274","group":"4083c6d3.d14b78","order":4,"width":0,"height":0,"name":"","label":"Prediction for 4th week","format":"{{msg.payload}}","layout":"row-spread","x":1120,"y":240,"wires":[]},{"id":"28da2ea2.9deda2","type":"debug","z":"6f21edc9.69d274","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1090,"y":280,"wires":[]},{"id":"4a52080a.996c18","type":"ui_text","z":"6f21edc9.69d274","group":"4083c6d3.d14b78","order":5,"width":0,"height":0,"name":"","label":"Prediction for 5th week","format":"{{msg.payload}}","layout":"row-spread","x":1120,"y":560,"wires":[]},{"id":"b51855af.6b6c48","type":"debug","z":"6f21edc9.69d274","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1090,"y":600,"wires":[]},{"id":"c104be7c.dc33e","type":"ui_text","z":"6f21edc9.69d274","group":"4083c6d3.d14b78","order":6,"width":0,"height":0,"name":"","label":"Prediction for 6th week","format":"{{msg.payload}}","layout":"row-spread","x":1120,"y":640,"wires":[]},{"id":"d65a6344.b70af","type":"debug","z":"6f21edc9.69d274","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1090,"y":680,"wires":[]},{"id":"525a5c8a.b6b9f4","type":"ui_text","z":"6f21edc9.69d274","group":"4083c6d3.d14b78","order":7,"width":0,"height":0,"name":"","label":"Prediction for 7th week","format":"{{msg.payload}}","layout":"row-spread","x":1120,"y":720,"wires":[]},{"id":"a4c97841.ed41b8","type":"debug","z":"6f21edc9.69d274","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1090,"y":760,"wires":[]},{"id":"1e76d5d2.ac9e1a","type":"ui_text","z":"6f21edc9.69d274","group":"4083c6d3.d14b78","order":8,"width":0,"height":0,"name":"","label":"Prediction for 8th week","format":"{{msg.payload}}","layout":"row-spread","x":1120,"y":800,"wires":[]},{"id":"749d179c.d13188","type":"debug","z":"6f21edc9.69d274","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1090,"y":840,"wires":[]},{"id":"bc9d71ad.306fa","type":"ui_text","z":"6f21edc9.69d274","group":"4083c6d3.d14b78","order":9,"width":0,"height":0,"name":"","label":"Prediction for 9th week","format":"{{msg.payload}}","layout":"row-spread","x":1120,"y":880,"wires":[]},{"id":"c2388a14.aed788","type":"debug","z":"6f21edc9.69d274","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1090,"y":920,"wires":[]},{"id":"adb0eda6.7ca2","type":"ui_text","z":"6f21edc9.69d274","group":"4083c6d3.d14b78","order":10,"width":0,"height":0,"name":"","label":"Prediction for 10th week","format":"{{msg.payload}}","layout":"row-spread","x":1130,"y":960,"wires":[]},{"id":"831d7bd9.a73988","type":"debug","z":"6f21edc9.69d274","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1090,"y":1000,"wires":[]},{"id":"462ad830.8b89c8","type":"ui_group","z":"","name":"Order Numbers:","tab":"423db689.e718a8","order":1,"disp":true,"width":"6","collapse":true},{"id":"4083c6d3.d14b78","type":"ui_group","z":"","name":"Important info:","tab":"423db689.e718a8","order":2,"disp":true,"width":"6","collapse":false},{"id":"423db689.e718a8","type":"ui_tab","z":"","name":"Predictions","icon":"dashboard","order":3,"disabled":false,"hidden":false}]